<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adamantium - Micropub</title>
    <%= favicon_tag %>
    <%= stylesheet_tag "micropub/app" %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_tag "micropub/app" %>
  </body>
</html>
