.env
public/key.pub
.idea/*
log/*
fly.toml
*.sock
publish.rb
publish_bookmark.rb
node_modules/*
.DS_Store
.bundle/
.env.*
.vimrc.local
*.dump
Capfile
config/deploy.rb
config/deploy/production.rb
tags

