.env
public/key.pub
.idea/*
log/*
fly.toml
*.sock
/publish.rb
/publish_bookmark.rb
/publish_photo.rb
/publish_code.rb
/terminal_render.rb
instagram_import.rb
node_modules/*
.DS_Store
.bundle/
.env.*
.vimrc.local
*.dump
*.rdb
*.onnx
Capfile
config/deploy.rb
config/deploy/production.rb
config/systemd/que.service.erb
config/systemd/mail_room.service.erb
config/mail_room.yaml
script/deploy
tmp/*
public/media
public/assets/*.css
public/assets/*.js
public/assets/*.ttf
public/assets/*.json
public/*.json
public/assets/*.js.map
*.p8
script/pull_db.rb
