- context.content_for(:title, "Podcasts | ")

div class="mb-12 prose dark:prose-invert max-w-prose mx-auto text-gray-800 dark:text-gray-200"
  h1 🎙️ Podcasts

  div class="mb-12 max-w-prose mx-auto"
    - if listens && listens.count > 0
      div class="p-4 bg-pink-200 dark:bg-pink-900 rounded"
        h4 class="p-0 m-0 text-pink-900 dark:text-pink-200" Recent listens
        - listens.each do |listen|
          div
            a class="text-pink-800 dark:text-pink-100 no-underline hover:decoration-wavy hover:underline" href=listen.url
              strong = listen.title
              span= " — #{listen.podcast_name}"

    table class="prose dark:prose-invert table-auto"
      thead
        tr
          td
          td Name
      - podcasts.each do |podcast|
        tr
          td
            img class="w-14 m-0 p-0 rounded" src="#{Hanami.app.settings.micropub_site_url}/media/podcast_art/#{podcast.overcast_id}.jpg"
          td class="p-0 align-middle"
            a class="block" href="#{podcast.url}"
              = podcast.name

div class="max-w-screen-md mx-auto border-t border-solid border-gray-200 dark:border-gray-600"
