div class="mx-auto"
  a href=url class="block flex bg-pink-100 dark:bg-pink-600 rounded px-4 py-2 mb-12"
    div class="mr-4 my-auto"
      div class="w-34 h-34 my-auto text-[2.041rem] block dark:hidden" 👩🏼‍🎤
      div class="w-34 h-34 my-auto text-[2.041rem] hidden dark:block" 👨🏽‍🎤
    div
      p class="text-sm" Top track
      p class="hover:underline"
        p class="font-semibold"=  name
        p class=""= artist

